<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Enter Your Credetials to LogIN</h3>
    <form action="/do-login" method="post">
        <input type="email" name="email" placeholder="Enter your Email....">
        <input type="password" name="password" placeholder="Enter your password....">
        <input type="submit" value="Login">
    </form>
</body>
</html>